//==========  FONTS  ==========

$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Rubik', sans-serif;

//=============================

//==========  COLORS  ==========

$primaryTextColor: #575c74;
$titleColor: #0c122d;
$accentColor: #ffb800;
$secondaryAccentColor: #1b5fc1;

//=============================

//=====  BACKGROUND-COLORS  =====

$primaryBgColor: #ffffff;
$secondaryBgColor: #f7fdfb;
$footerBgColor: #ecf0f5;

//===============================
