.certification {
  background-color: $secondaryBgColor;

  &__container {
    padding-top: 80px;

    @media screen and (max-width: 767.98px) {
      max-width: 496px;
    }

    @media screen and (min-width: 768px) {
      padding-top: 40px;
    }

    @media screen and (min-width: 1170px) {
      padding-top: 80px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (min-width: 768px) {
      gap: 0;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    @media screen and (min-width: 1170px) {
      justify-content: start;
    }
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1170px) {
    &__item {
      &:nth-child(2) {
        margin-left: 87px;
      }

      &:nth-child(3) {
        margin-left: 100px;
      }

      &:nth-child(4) {
        margin-left: 100px;
      }
    }
  }

  &__text {
    letter-spacing: 0.03em;

    &::after {
      display: inline-block;
      content: '';
      width: calc(125px + 22 * ((100vw - 320px) / (1170 - 320)));
      height: 1px;
      margin-left: 16px;
      background-color: $accentColor;
    }
  }
}
