<section class="about">
  <div class="about__bg-vector-right">
    <img src="@img/about-bg-vector-right.png" alt="" />
  </div>
  <div class="about__bg-vector-left">
    <img src="@img/about-bg-vactor-left.png" alt="" />
  </div>
  <div class="about__container container">
    <h2 class="visually-hidden">About</h2>

    <ul class="about__list list">
      <li class="about__item">
        <div class="about__image-wrapper">
          <img
            src="@img/about-paramedic.jpg"
            alt="medical worker covid"
            width="570"
            height="616"
          />
        </div>
      </li>
      <li class="about__item">
        <ul class="about__content-wrapper list">
          <li><h3 class="about__title title">N95 Respirators</h3></li>
          <li>
            <p class="about__description main-text">
              <span class="main-text-bold">The N95 mask</span> is a form of
              respiratory protective wear worn over the nose and mouth to help
              minimise the chance of inhaling airborne particles like viruses
              and other germs. It is a disposable mask made from synthetic
              polymer fibres produced in a highly specialised process called
              melt blowing. During this process, the inner layer of the
              <span class="main-text-bold">N95 mask</span> is created which
              forms the filtration layer capable of filtering out at
              <span class="main-text-bold">least 95%</span> of airborne
              particles when worn correctly.
            </p>
          </li>
          <li>
            <p class="about__description main-text">
              During outbreaks of respiratory illnesses and during periods of
              intense air pollution, wearing
              <span class="main-text-bold">N95 mask</span> has been shown to
              help reduce the inhalation of compromised air, filtering out nasty
              pathogens which lead to illness or which can aggravate existing
              respiratory problems. Maintaining clear and unhindered respiration
              is vitally important for remaining fit and healthy and people with
              pre-existing conditions or respiratory fragility can particularly
              benefit from wearing face masks while they are out in public and
              unable to control the breathing environments that they find
              themselves in.
            </p>
          </li>
        </ul>
      </li>
      <li class="about__item">
        <ul class="about__content-wrapper list">
          <li>
            <h3 class="about__title title">
              N95 Respirators In Industrial And Health Care Settings
            </h3>
          </li>
          <li>
            <p class="about__description main-text">
              Most <span class="main-text-bold">N95 respirators</span> are
              manufactured for use in construction and other industrial type
              jobs that expose workers to dust and small particles. They are
              regulated by the National Personal Protective Technology
              Laboratory (NPPTL) in the National Institute for Occupational
              Safety and Health (NIOSH), which is part of the Centers for
              Disease Control and Prevention (CDC).
            </p>
          </li>
          <li>
            <p class="about__description main-text">
              However, some N95 respirators are intended for use in a health
              care setting. Specifically, single-use, disposable respiratory
              protective devices used and worn by health care personnel during
              procedures to protect both the patient and health care personnel
              from the transfer of microorganisms, body fluids, and particulate
              material. These surgical N95 respirators are class II devices
              regulated by the FDA, under 21 CFR 878.4040, and CDC NIOSH under
              42 CFR Part 84.
            </p>
          </li>
        </ul>
      </li>
      <li class="about__item">
        <div class="about__image-wrapper">
          <img
            src="@img/about-paints-the-fence.jpg"
            alt="man paints the fence in mask"
            width="570"
            height="620"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
