<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item item">
        <div class="item__icon-wrapper">
          <svg class="item__icon">
            <use href="@img/icons/icons.svg#advantages-box"></use>
          </svg>
        </div>
        <div class="item__text-wrapper">
          <h3 class="item__subtitle subtitle">Full-Service Shipping</h3>
          <p class="item__adv-description secondary-text">
            From picking to custom-crating to domestic and international
            shipping, we handle it all for you.
          </p>
        </div>
      </li>
      <li class="advantages__item item">
        <div class="item__icon-wrapper">
          <svg class="item__icon">
            <use href="@img/icons/icons.svg#advantages-checked"></use>
          </svg>
        </div>
        <div class="item__text-wrapper">
          <h3 class="item__subtitle subtitle">Multi-Point Inspection</h3>
          <p class="item__adv-description secondary-text">
            To ensure quality, our team of HTM professionals fully assess and
            evaluate all equipment.
          </p>
        </div>
      </li>
      <li class="advantages__item item">
        <div class="item__icon-wrapper">
          <svg class="item__icon">
            <use href="@img/icons/icons.svg#advantages-operator"></use>
          </svg>
        </div>
        <div class="item__text-wrapper">
          <h3 class="item__subtitle subtitle">Professional Product Support</h3>
          <p class="item__adv-description secondary-text">
            If you have any questions about the equipment, our product
            specialists are here to help.
          </p>
        </div>
      </li>
      <li class="advantages__item item">
        <div class="item__icon-wrapper">
          <svg class="item__icon">
            <use href="@img/icons/icons.svg#advantages-credit-card"></use>
          </svg>
        </div>
        <div class="item__text-wrapper">
          <h3 class="item__subtitle subtitle">
            Secure and Easy Payment Methods
          </h3>
          <p class="item__adv-description secondary-text">
            Pay your way, whether by credit card, PayPal or the redemption of
            earned credits.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
