<section class="certification">
  <div class="certification__container container">
    <h2 class="visually-hidden">Certification</h2>
    <ul class="certification__list list">
      <li class="certification__item">
        <p class="certification__text tertiary-text">Our Lab Certification</p>
      </li>
      <li class="certification__item">
        <img src="@img/certification-fda.png" alt="certification fda" />
      </li>
      <li class="certification__item">
        <img
          src="@img/certification-nelson.png"
          alt="certification nelson laboratories"
        />
      </li>
      <li class="certification__item">
        <img src="@img/certification-cnas.png" alt="certification cnas" />
      </li>
    </ul>
  </div>
</section>
