<section class="comments">
  <div class="comments__background">
    <div class="comments__container container">
      <h2 class="visually-hidden">Comments</h2>
      <ul class="comments__list list">
        <li class="comments__item">
          <img src="@img/comments-first.png" alt="Maria Eve comment" />
        </li>
        <li class="comments__item">
          <img src="@img/comments-second.png" alt="Liam Bower comment" />
        </li>
        <li class="comments__item">
          <img src="@img/comments-third.png" alt="Nicky comment" />
        </li>
      </ul>
    </div>
  </div>
  <div class="comments__background--white"></div>
</section>
