<section class="conclusion">
  <div class="conclusion__container container">
    <h2 class="visually-hidden">Get One Step Ahead Of Disease</h2>
    <ul class="conclusion__list list">
      <li class="conclusion__item">
        <p class="item__title title">Get One Step Ahead Of Disease</p>
      </li>
      <li class="text__item">
        <p class="item__description main-text">
          Imperdiet aliquet est vel nulla turpis eu consequat ullamcorper a
          egestas suspendisse faucibus eu velit, phasellus pulvinar lorem et
          libero et tortor, sapien nulla.
        </p>
      </li>
      <li class="text__item">
        <button class="item__button button">Shop now</button>
      </li>
    </ul>
  </div>
</section>
