<section class="contacts">
  <div class="contacts__container container">
    <h2 class="visually-hidden">Contacts</h2>
    <address class="contacts__address">
      <ul class="address__list list">
        <li class="address__item">
          <a
            class="item__address-link"
            href="https://www.google.com.ua/maps/place/123+5th+Ave,+New+York,+NY+10003,+%D0%A1%D0%A8%D0%90/@40.7392007,-73.9930489,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259a3b24b424f:0x618680d3f8c2f773!8m2!3d40.7391967!4d-73.9908602?hl=ru"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="item__icon--location" width="27" height="32">
              <use href="@img/icons/icons.svg#contacts-location"></use>
            </svg>
          </a>
          <div class="item__content-wrapper">
            <p class="item__content-title subtitle-rubik-medium">Address</p>
            <p class="item__content-description contacts-text">
              123 5th Avenue, New York, US
            </p>
          </div>
        </li>
        <li class="address__item">
          <a href="tel:+1 123 456 7890" class="item__tel-link link">
            <svg class="item__icon--phone" width="32" height="32">
              <use href="@img/icons/icons.svg#contacts-phone"></use>
            </svg>
          </a>
          <div class="item__content-wrapper">
            <p class="item__content-title subtitle-rubik-medium">Call Us</p>
            <p class="item__content-description contacts-text">
              +1 123 456 7890
            </p>
          </div>
        </li>
        <li class="address__item">
          <a href="mailto:info@example.com" class="item__mail-link link">
            <svg class="item__icon--email" width="32" height="23">
              <use href="@img/icons/icons.svg#contacts-mail"></use>
            </svg>
          </a>
          <div class="item__content-wrapper">
            <p class="item__content-title subtitle-rubik-medium">Email Us</p>
            <a class="item__content-description contacts-text"
              >info@example.com</a
            >
          </div>
        </li>
      </ul>
    </address>
  </div>
</section>
