<footer class="footer">
  <div class="footer__container container">
    <ul class="footer__list list">
      <li class="footer__item">
        <ul class="logo__list list">
          <li class="logo__item">
            <a class="logo__icon"></a>
          </li>
          <li>
            <p class="logo__description tertiary-text">
              Our team is led by several chief engineers, composed of a large
              number of researchers absorbed in their work in our comprehensive
              laboratory, which is also a renowned medical equipment testing
              center in Hong Kong.
            </p>
          </li>
        </ul>
      </li>
      <li class="footer__item">
        <nav class="footer__nav-menu">
          <p class="nav-menu__subtitle subtitle-rubik-medium">Company</p>
          <ul class="nav-menu__list list">
            <li class="nav-menu__item">
              <a class="nav-menu__link link footer-navigation">Home</a>
            </li>
            <li class="nav-menu__item">
              <a class="nav-menu__link link footer-navigation">About</a>
            </li>
            <li class="nav-menu__item">
              <a class="nav-menu__link link footer-navigation">Product</a>
            </li>
            <li class="nav-menu__item">
              <a class="nav-menu__link link footer-navigation">Contact</a>
            </li>
            <li class="nav-menu__item">
              <a class="nav-menu__link link footer-navigation">History</a>
            </li>
          </ul>
        </nav>
      </li>
      <li class="footer__item">
        <div class="social-list__wrapper">
          <p class="social-list__subtitle subtitle-rubik-medium">Follow Us</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <svg class="social-list__icon" width="12" height="12">
                <use href="@img/icons/icons.svg#footer-facebook"></use>
              </svg>
              <a
                class="social-list__link link footer-navigation"
                href="https://www.facebook.com/"
                >Facebook</a
              >
            </li>
            <li class="social-list__item">
              <svg class="social-list__icon" width="12" height="12">
                <use href="@img/icons/icons.svg#footer-twitter"></use>
              </svg>
              <a
                class="social-list__link link footer-navigation"
                href="https://www.twitter.com/"
                >Twitter</a
              >
            </li>
            <li class="social-list__item">
              <svg class="social-list__icon" width="12" height="12">
                <use href="@img/icons/icons.svg#footer-google-plus"></use>
              </svg>
              <a
                class="social-list__link link footer-navigation"
                href="https://plus.google.com"
                >Google +</a
              >
            </li>
            <li class="social-list__item">
              <svg class="social-list__icon" width="12" height="12">
                <use href="@img/icons/icons.svg#footer-youtube"></use>
              </svg>
              <a
                class="social-list__link link footer-navigation"
                href="https://www.youtube.com/"
                >YouTube</a
              >
            </li>
            <li class="social-list__item">
              <svg class="social-list__icon" width="12" height="12">
                <use href="@img/icons/icons.svg#footer-linkedin"></use>
              </svg>
              <a
                class="social-list__link link footer-navigation"
                href="https://www.linkedin.com/"
                >Linkedin</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <p class="footer__copyright copyright-text">Copyright &#169; 2020 N95</p>
  </div>
</footer>
