<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__content content">
      <div class="content__wrapper">
        <ul class="content__box list">
          <li>
            <p class="content__text">3M N95 masks</p>
          </li>
          <li>
            <h1 class="content__title primary-title">Protective Face Masks</h1>
          </li>
          <li>
            <p class="content__description hero-text">
              We offer the fast delivery wholesale selection of N95 masks and
              surgical masks, featuring FDA-approved quality and 2 – 5 days
              delivery, our wholesale face masks are ideal for influenza or
              novel coronavirus prevention.
            </p>
          </li>
          <li class="content__buttons">
            <button class="button">Shop now</button>
            <button class="button button--yellow">Learn more</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero__background-image">
      <img
        src="@img/hero-delivery-of-goods-and-products-or-vaccine-in-coron.jpg"
        alt="delivery of goods and products or vaccine in coronavirus"
        width="927"
        height="891"
      />
    </div>
    <div class="hero__image">
      <img
        src="@img/hero-face-masks-coronavirus.jpg"
        alt="woman with face mask"
        width="496"
        height="744"
      />
    </div>
  </div>
</section>
