<section class="info">
  <div class="info__container container">
    <h2 class="visually-hidden">Info</h2>
    <ul class="info__wrapper-list list">
      <li class="info__background-image">
        <img src="@img/info-health-pro-factory.jpg" alt="" />
        <p class="info__background-description tertiary-text">
          Given the praised reputation and reliable quality within the industry,
          we have also established preliminary business agreements with some
          hospitals, local governments and medical institutions in Guangdong
          Province.
        </p>
      </li>
      <li class="info__wrapper-item">
        <ul class="info__content-list list">
          <li class="info__content-item">
            <p class="info__content-description tertiary-text">
              After years of development, Health Pro has reached stable
              long-term cooperation with many hospitals and medical institutions
              in Hong Kong.
            </p>
          </li>
          <li class="info__content-item">
            <p class="info__content-description tertiary-text">
              We are keenly looking forward to expand our market in Mainland
              China and overseas in the future, as we have strong beliefs in our
              products.
            </p>
          </li>
          <li class="info__content-item">
            <h3 class="info__content-title subtitle-rubik-bold">
              Proudly Made in Hong Kong
            </h3>
            <p class="info__content-description tertiary-text">
              Our factory is located in Hong Kong.<br />Equipped with machines
              and assembly line of the best quality on the market to ensure
              quality control.
            </p>
            <div class="info__box">
              <button class="button button--blue">Learn more</button>
              <div class="box__contacts-wrapper">
                <a href="#" class="box__icon-wrapper">
                  <svg class="box__icon">
                    <use href="@img/icons/icons.svg#info-phone"></use>
                  </svg>
                </a>
                <div class="box__content-wrapper">
                  <p class="box__text">Contact us</p>
                  <p class="box__phone">+1 123 444 5678</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
