<section class="reasons">
  <div class="reasons__container container">
    <h2 class="visually-hidden">Reasons</h2>
    <ul class="reasons__list list">
      <li class="reasons__item">
        <img
          src="@img/reasons-mask.jpg"
          alt="corona face mask"
          width="530"
          height="584"
        />
      </li>
      <li class="reasons__item">
        <p class="item__title title">Reasons To Choose Our Products</p>
        <p class="item__reason-description main-text">
          All products of Health Pro have obtained the certifications issued by
          national specialized agencies and testing laboratories.<br />
          They have also passed the quality inspection of several international
          famous testing institutions. We have absolute confidence that every
          product of Health Pro is a of the top quality.
        </p>
      </li>
      <li class="reasons__item">
        <ul class="item__wrapper">
          <li class="item__icon-box">
            <svg class="item__icon--friends">
              <use href="@img/icons/icons.svg#reasons-cup"></use>
            </svg>
          </li>
          <li class="item__content-box">
            <p class="item__subtitle subtitle">Industry leader</p>
            <p class="item__advantages-description secondary-text">
              If you have any questions about the equipment, our product
              specialists are here to help, specialists are here.
            </p>
          </li>
        </ul>
        <ul class="item__wrapper">
          <li class="item__icon-box">
            <svg class="item__icon--friends">
              <use href="@img/icons/icons.svg#reasons-save"></use>
            </svg>
          </li>
          <li class="item__content-box">
            <p class="item__subtitle subtitle">
              To create a safer tomorrow for all
            </p>
            <p class="item__advantages-description secondary-text">
              If you have any questions about the equipment, our product
              specialists are here to help.
            </p>
          </li>
        </ul>
      </li>
      <li class="reasons__item">
        <ul class="item__wrapper">
          <li class="item__icon-box">
            <svg class="item__icon--friends">
              <use href="@img/icons/icons.svg#reasons-graph"></use>
            </svg>
          </li>
          <li class="item__content-box">
            <p class="item__subtitle subtitle">Innovation 3 led development</p>
            <p class="item__advantages-description secondary-text">
              If you have any questions about the equipment, our product
              specialists are here to help.
            </p>
          </li>
        </ul>
        <ul class="item__wrapper">
          <li class="item__icon-box">
            <svg class="item__icon--friends">
              <use href="@img/icons/icons.svg#reasons-friends"></use>
            </svg>
          </li>
          <li class="item__content-box">
            <p class="item__subtitle subtitle">
              To protect and to improve living quality for all
            </p>
            <p class="item__advantages-description secondary-text">
              If you have any questions about the equipment, our product
              specialists are here to help.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
